extends layout

block content

  h1 Reservation: #{author.name}
  p #{author.lifespan}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
    p This author has no books.
      
  hr
  p
    a(href=author.url+'/delete') Delete reservation
