extends sidebar

block content
			h1= title
			h2= username
			p Welcome to the reservation system for experiment timeslots
			h1 Dynamic content
			if error
				p Error getting dynamic content.
			else
				p The database has the following record counts:
				ul
					li #[strong Reservations:] !{data.author_count}