extends sidebar

block content
			if message
				p= message
			h1= title
			if (username=='admin')
				h2 admin
			p Welcome to the reservation system for experiment timeslots
			h1 Dynamic content
			if error
				p Error getting dynamic content.
			else
				p The database has the following record counts:
				ul
					li #[strong Reservations:] !{data.author_count}
			if (username=='admin')
				a(href='/requests')
					button.btn.btn-primary View Requests
				a(href='/terminal_admin')
					button.btn.btn-primary Admin Terminal