extends layout

block allcontent
	div(class='row')
		div(class='col-sm-3')
			block sidebar
				if (username=='admin')
					ul(class='sidebar-nav')
						li
							a(href='/catalog') Reservations Home
						li 
							a(href='/reservations') All reservations
						li 
							a(href='/reservation/create') Create reservation
						li
							a(href='/requests') All requests
						li
							a(href='/logout') Logout
				else if (username=='user')
					ul(class='sidebar-nav')
						li
							a(href='/catalog') Reservations Home
						li 
							a(href='/reservations') All reservations
						li 
							a(href='/reservation/create') Request reservation
						li 
							a(href='/my_requests') My requests
						li
							a(href='/logout') Logout
				else
					ul(class='sidebar-nav')
						li
							a(href='/catalog') Reservations Home
						li 
							a(href='/reservations') All reservations
						li 
							a(href='/reservation/create') Request reservation
		div(class='col-sm-9')
			block content